#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}






body, html {
  /* background-color: #101427; */
  background-color: white;
  color: #000000;
  overflow-x: hidden;

  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

h1, h4 {
  margin: .5em;
}
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 6rem;
}
.sidebar{
   
    border-radius: 20px;
   padding: 10px;
}
.calendar {
  margin: 0 auto;
  font-size: 12px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.calendar-cell {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
.question-outer{
  width: 74%;
  height: 70vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 2rem;
  box-sizing: border-box;

}